gevent
pytz
lxml
Pillow
-e git+https://github.com/jodal/pykka.git@v0.12#egg=pykka
pymongo
-e git+https://github.com/mikemaccana/python-docx.git#egg=docx
-e git+https://github.com/sunlightlabs/oxtail.git#egg=oxtail
-e git+https://github.com/sunlightlabs/python-transparencydata#egg=transparencydata
-e git+https://github.com/sunlightlabs/name-cleaver.git#egg=name_cleaver
-e git+https://github.com/apendleton/mincemeatpy.git#egg=mincemeat
-e git+https://github.com/sunlightlabs/regs-models.git#egg=regs_models
isoweek

# redis-based sync requirements
hiredis
redis

mongoengine
html2text
urllib3
rawes

pyquery
