gevent
-e hg+https://bitbucket.org/eriks5/gevent-subprocess#egg=gevsubprocess
pytz
lxml
PIL
-e git+https://github.com/jodal/pykka.git@v0.12#egg=pykka
pymongo
-e git+https://github.com/mikemaccana/python-docx.git#egg=docx
-e git+https://github.com/sunlightlabs/oxtail.git#egg=oxtail
-e git+https://github.com/sunlightlabs/python-transparencydata#egg=transparencydata
-e git+https://github.com/sunlightlabs/name-cleaver.git#egg=name_cleaver
-e git+https://github.com/apendleton/mincemeatpy.git#egg=mincemeat
isoweek

# redis-based sync requirements
-e git+https://github.com/pietern/hiredis-py.git#egg=hiredis
redis

mongoengine