gevent
-e hg+https://bitbucket.org/eriks5/gevent-subprocess#egg=gevsubprocess
pytz
lxml
PIL
-e git+https://github.com/jodal/pykka.git@v0.12#egg=pykka
-e git+https://github.com/mongodb/mongo-python-driver.git#egg=pymongo
-e git+https://github.com/mikemaccana/python-docx.git#egg=docx

# redis-based sync requirements
-e git+https://github.com/pietern/hiredis-py.git#egg=hiredis
redis
